<div>
    <h2>Trainings</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="duration"><span>Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="dateTime"><span>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="training in vm.trainings track by training.id">
                <td><a ui-sref="training-detail({id:training.id})">{{training.id}}</a></td>
                <td>{{training.duration}}</td>
                <td>{{training.dateTime | date:'mediumDate'}}</td>
                <td>{{training.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="training-detail({id:training.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
